.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
position: relative;
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  position:relative;
  top: -200px;
  right: 50px;
  font-size: 50px;
  height: 40px;
  font-weight: 50;
  color: #897f5e;
  
}

.headerContainer p {
  position: absolute;
  bottom: -200px;
  right: 15px;
  font-size: 20px;
  padding: 0;
  font-weight: lighter;
  color: black;
}

.headerContainer .stylenumber
{
  position: absolute;
  bottom: 300px;
  right: 20px;
  font-size: 20px;
  padding: 0;
  font-weight: lighter;
  color: black;
}
.headerContainer .email
{
  position: absolute;
  bottom: 270px;
  right: 20px;
  font-size: 20px;
  padding: 0;
  font-weight: lighter;
  color: black;
}
.headerContainer p2 {
  font-style: italic;
  font-size: 25px;
  
}

.headerContainer button {

  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
 
}

.headerContainer button:hover {
  background-color: #897f5e;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #87a4ba;
    color: white;
  }

  .headerContainer h1 {
    font-size: 30px;
    height: 10px;
    color: white;
    position: absolute;
    bottom: 500px;
    right: 20px;

  }

  .headerContainer p {
    font-size: 19px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(188, 183, 127);
    color: #121619;
  }
}