.useri {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }
  
  .useri .form input{
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;;
  
  }
  
  .useri .card{
    width: 500px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
  }
     
  @media only screen and (max-width: 650px) {
    .useri {
      justify-content: center;
      align-items: center;
      align-content: center;
    }
}
  
